* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    height: 380px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #222224;
    border-radius: 20px;
    color: white;
}

.container form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;

    & input {
        height: 40px;
        width: 300px;
        border: 1px solid rgb(117, 117, 167);
        border-radius: 12px;
        text-indent: 10px;
        outline: none;
    }
}

.btns {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 300px; 
    padding: 0;
    margin-top: 20px;
}

button {
    border: none;
    border-radius: 12px;
    height: 40px;
    width: 48%;
    cursor: pointer;
    background-color: rgb(33, 83, 175);
    color: white;
    transition: transform 0.3s ease;
}

button:hover {
    transform: scale(1.01);
}
